In [1]:
# creation of list
my_numbers = [5, 4, 3, 1, 2]

In [4]:
print(my_numbers)

[5, 4, 3, 1, 2]

In [5]:
my_float = [5.43, 6.97, 1.35]
my_bool = [True, False, False]

In [8]:
my_list = [5, "Alik", 6.43, True, False, 7] # heterogeneous data

In [9]:
print(my_list)

[5, 'Alik', 6.43, True, False, 7]

In [11]:
my_list = [1, 4, 3, 5, 6, 7]
print(my_list[0]) # access by index

1

In [12]:
print(my_list[-3])

5

In [13]:
new_list = [5, 3, 4, 2, 7, 9, 2, 6]
print(new_list[3:5])

[2, 7]

In [14]:
print(new_list[:6])

[5, 3, 4, 2, 7, 9]

In [15]:
print(new_list[2:])

[4, 2, 7, 9, 2, 6]

In [16]:
print(new_list[-5:-3])

[2, 7]

In [20]:
# use of membership operator
name = ["Alik", "Avik", "Subhojit", "Senjuti"]
if "Alik" in name:
    print("Yup!")

Yup!

In [22]:
if "Smriti" not in name:
    print("Yesssss!")

Yesssss!

In [26]:
# append new items
my_list = [3, 5, 2, 1, 7]
my_list.append(6)
print(my_list)

[3, 5, 2, 1, 7, 6]

In [27]:
my_list.insert(1, "Alik")
print(my_list)

[3, 'Alik', 5, 2, 1, 7, 6]

In [28]:
name = ["Alik", "Avik", "Biyas", "Prantika", "Priti"]

In [29]:
name.pop() # removes the last item
print(name)

['Alik', 'Avik', 'Biyas', 'Prantika']

In [30]:
name.pop(0)
print(name)

['Avik', 'Biyas', 'Prantika']

In [31]:
my_list = ["Alik", 7.5, True, "Alik", "Subhojit", "Avik", 7]

In [32]:
my_list.remove("Alik") # removes the first occurrence
print(my_list)

[7.5, True, 'Alik', 'Subhojit', 'Avik', 7]

In [33]:
my_list.remove("Faruk")

ValueError: list.remove(x): x not in list

In [34]:
my_list = [1, 3, 4, 5, 2]

In [35]:
del my_list[2]
print(my_list)

[1, 3, 5, 2]

In [41]:
del my_list # deletes the list

In [43]:
print(my_list)

NameError: name 'my_list' is not defined

In [51]:
# reverse traveral
new_list = [1, 2, 3, 4, 5]
print(new_list[::-1])

[5, 4, 3, 2, 1]

In [55]:
# reverse traveral with skip value
new_list = [1, 2, 3, 4, 5]
print(new_list[::-2])

[5, 3, 1]

In [57]:
my_list = [5, 3, 2, 1, 4]
my_list[0] = 404 # update with index
print(my_list)

[404, 3, 2, 1, 4]

In [58]:
# update a range in list

name = ["Alik", "Avik", "Sayantan", "Sourav", "Bipasa", "Deb"]
name[2:5] = ["name_1", "name_2", "name_3"]
print(name)

['Alik', 'Avik', 'name_1', 'name_2', 'name_3', 'Deb']

In [59]:
my_list = [1, 3, 2, 4, 7, 5]
my_list[2:4] = [70, 71, 72]
print(my_list)

[1, 3, 70, 71, 72, 7, 5]

In [60]:
new_list = [1, 3, 2, 4, 7, 5]
new_list[1:4] = [70, 71]
print(new_list)

[1, 70, 71, 7, 5]

In [62]:
# list traversal with loop

my_list = ["Alik", 7.53, 700, True]

for i in my_list:
    print(i, end=" ")

Alik 7.53 700 True

In [64]:
my_list = ["Alik", 7.53, 700, True]
for i in range(len(my_list)):
    print(my_list[i], end=" ")

Alik 7.53 700 True

In [65]:
# sort a list

numbers = [3, 1, 4, 2, 7]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 7]

In [66]:
numbers = [3, 1.2, 4.5, 2, 7, 4.4]
numbers.sort()
print(numbers)

[1.2, 2, 3, 4.4, 4.5, 7]

In [67]:
names = ["Avik", "Alik", "Priri", "Subhojit", "Senjuti", "Biyas", "Prantika"]
names.sort()
print(names)

['Alik', 'Avik', 'Biyas', 'Prantika', 'Priri', 'Senjuti', 'Subhojit']